# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Sudoktris.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Repositories\Sudoktris\.idea\.idea.Sudoktris\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
